html{
    font-family: sans-serif;
}

header{
    height: 70px;
    width: 100%;
    border: solid black;
}

#logo,
.text-logo{
    display: inline-block;
    vertical-align: middle;
    color: black;
    font-size: xx-large;
}

.grey-area{
    height: 700px;
    width: 100%;
    background-color:#F6F8F9 ;
    border: solid black;
    
}

.white-area{
    margin-top: 70px;
    width: 80%;
    height: 700px;
    border: solid black;
    background-color:white ;
    margin: 70px auto 0;
}

.margin{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

hr{
    margin-top: 20px;
    margin-bottom: 20px;
}



.select-option-white{
    height: 45px;
    width: 110px;
    border: solid grey;


}
.blue-button{
    background-color: #47ADF1;
    border: solid #47ADF1;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 10%;
    
}
#blue-button-text{
    font-size: 16px;
}

.white-button{
    background-color: white;
    border: solid gray ;
    opacity: 40%;
    color: gray;
    width: 110px;
    height: 40px;
    border-radius: 10%;
    margin-left: 5px; 
}

.circle{ 
    background-color: white;
    display: inline-block ;
    
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid green;
   
    
      
}
.spunta-1{
    margin-left: -3;
}

.editor-button-1{
    background-color: #47ADF1;
    color: white;
    height: 30px;
    width: 80px;
    border-radius: 10px;

}

